{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}Links{% else %}Acesso às páginas{% endif %}
{% endblock %}

{% block content %}
    <h2 class='display-4'>Links</h2>
    <p><a href="{% url 'institution_create' %}">Nova Instituição.</a></p>
    <p><a href="{% url 'institution_list' %}">Lista de Instituições.</a></p>
    <br>
    <p><a href="{% url 'organizational_unit_create' %}">Nova divisão / departamento</a></p>
    <p><a href="{% url 'organizational_unit_list' %}">Lista de divisões / departamentos</a></p>
    <br>
    <p><a href="{% url 'login' %}">Login</a></p>
    <p><a href="{% url 'password_change' %}">Troca de senha</a></p>
{% endblock %} 